* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



.header {
    position: relative;
    width: 100%;
    height: 100vh;
    background:black;
}

#logo {
    width: 100px;
    height: 100px;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #DB3F14;
    font-weight: bold;
}

nav ul li a:hover{
    color: lightskyblue;
}

.middle {
    margin-left: 8%;
    margin-top: 3%;
}

.middle h1 {
    font-size: 50px;
    color: #DB3F14;
    margin-bottom: 20px;
}

span {
    color: lightskyblue;
}
#span2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: #DB3F14;
}

.middle a {
    background: #DB3F14;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: lightskyblue;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

p { 
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight: bold;
 color: lightskyblue;
 margin-right: 20px;
}

.middle2 {
    margin-left: 8%;
    margin-top: 3%;
    position: absolute;
    top: 100px;
    bottom: 0;
    right: 100px;
}

h1 {
    font-size: 50px;
    color: #DB3F14;
    margin-left: 50px;
    margin-bottom: 20px;
}

#AboutMeImages {
    width: 35%;
    height: 80%;
    position: absolute;
    top: 150px;
    bottom: 0;
    right: 25px; 
    border-radius: 10%;
}
#AboutMeImages img{
    border-radius: 10%;
}

#links {
   padding: 30px;
   font-family: sans-serif;
   font-weight: bolder;
   font-size: large;
   margin-left: 150px;
}

h2 {
    color: cornflowerblue;
    padding: 30px;
    font-weight: bolder;
    font-size: large;
    font-family: sans-serif;
}
#skills {
    margin-left: 8%;
    margin-top: 3%;
    position: absolute;
    top: 250px;
    bottom: 0;
    right: 200px;
}

#skills img{
    margin-right: 30px;
    border-radius: 10%;
}

.middle3 {
    margin-left: 8%;
    margin-top: 3%;
    position: absolute;
    top: 350px;
    bottom: 0;
    right: 200px;
}

#skills2 {
    margin-left: 8%;
    margin-top: 3%;
    position: absolute;
    top: 490px;
    bottom: 0;
    right: 300px; 
}
#skills2 img{
    margin-right: 30px;
    border-radius: 10%;
}
